.expance-iteam{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    padding: 0.5rem;
    margin: 1rem 0;
    border-radius: 12px;
    background-color: #34495e;
}
.expance-iteam__discription{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-end;
    flex-flow: column-reverse;
    justify-content: flex-start;
    flex: 1;
}
.expance-iteam__price{
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #40005d;
    border: 1px solid white;
    padding: 00.5rem;
    border-radius: 12px;
}
.expance-iteam h2{
    color: #3a3a3a;
    font-size: 1rem;
    flex: 1;
    margin: 0 1rem;
    color: white;
}
@media(min-width:580px){
    .expance-iteam__discription{
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex: 1;
    }
    .expance-iteam__discription h2{
        font-size: 1.25rem;
    }
    .expance-iteam__price{
        font-size: 1.25rem;
        padding: 00.5rem 1.5rem;
    }
}